@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #151515;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 1.5rem auto;
}
nav ul {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
nav ul li {
  margin-right: 15px;
  list-style-type: none;
  font-size: 1.8rem;
}
.hero {
  max-width: 1400px;
  margin: 8rem auto;
  display: flex;
  justify-content: center;
}
.right {
  width: 50%;
}
.left {
  width: 50%;
}
.hero-title {
  font-size: 6rem;
  font-weight: 600;
}
.hero-title-span {
  color: #f637ec;
}
.hero-para {
  font-size: 1.8rem;
  max-width: 70%;
  margin-top: 3rem;
  color: #c1c1c1;
}

.hero-cta {
  font-size: 2rem;
  display: inline-block;
  margin-top: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}
.right-arrow {
  margin-left: 4px;
}
.right-part-three {
  margin-top: 3rem;
  display: flex;
}
.right-happy-user {
  display: flex;
  align-items: center;
}
.right-part-title {
  font-size: 4rem;
}
.right-part-span {
  color: #f637ec;
}
.right-part-para {
  font-size: 2rem;
  margin-left: 7px;
}
.hero-title-image {
  max-width: 100%;
  height: auto;
  margin-left: 20rem;
  position: relative;
  overflow: hidden;
}
.vector-img {
  margin: 0 5rem;
}
.companies-section {
  margin: 8rem auto;
  padding: 50px;
  background-color: #333;
}
.logo-section {
  display: flex;
  justify-content: space-between;
}
.logo-section > img {
  background: none;
}
.transaction-services {
  max-width: 1400px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.container-right {
  width: 50%;
}
.container-left {
  width: 50%;
}
.transaction-services-title {
  font-size: 6.5rem;
  font-weight: 500;
}
.transaction-services-span {
  color: #f637ec;
}

.transaction-services-sub-title {
  max-width: 70%;
  font-size: 2.1rem;
  color: #c1c1c1;
}
.transaction-cards {
  max-width: 1400px;
  margin: 8rem auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card {
  padding: 3rem 12rem;
  background-color: #272727;
  margin-right: 35px;
}
.card:nth-child(2) {
  margin-top: -80px;
}
.transaction-card-title {
  color: #fff;
  font-size: 2rem;
}
